footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    width: auto;
    width: 100%;
}

footer .footer__logo__div {
    display: flex;
    flex-direction: column;
}

footer .footer__logo__div :nth-child(1) {
    align-items: center;
    display: flex;
}

footer .footer__logo__div img {
    width: 75px;
}

footer p {
    font-size: $font-size-0;
    margin: 0;
    padding-right: 12px;
}

footer div {
    display: flex;
}

footer .footer__socials {
    display: flex;
}

footer .footer__socials a {
    padding: 0 10px;
}
