footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $darkmode-text-color;
  height: 90px;
  margin: 20px 0 0 0;
  padding: 0 20px;
  width: 100%;
  background: $darkmode-background-color-lighter;

  .footer__logo__div {
    align-items: center;
    display: flex;
    flex-direction: row;

    img {
      margin: 0 10px 0 0;
      width: 65px;
    }
  }

  .footer__links__div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    a {
      padding: 5px 10px;
    }
  }

  .footer__socials {
    display: flex;

    img {
      max-width: 40px;
      width: 5vw;
    }
  }
}