nav {
  align-items: center;
  background-color: $darkmode-background-color-lighter;
  display: flex;
  height: 120px;
  border-bottom: solid 1px white;
  justify-content: space-between;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 1;

  a {
    align-items: center;
    color: $darkmode-text-color;
    display: flex;
    font-size: $font-size-4;
    text-decoration: none;
  }

  img {
    margin-right: 15px;
    width: 150px;
  }

  .navbar__buttons {
    display: flex;
    height: 100%;

    button {
      transition: background-color 100ms ease-in-out;
      background-color: $darkmode-background-color-lighter;
      margin: 0 10px;
      padding: 0 10px;
      border: none;
      color: $darkmode-text-color;
      cursor: pointer;
      height: 45px;
      border-radius: 17px;

      &:hover {
        background-color: $darkmode-secondary-color;
        color: $darkmode-text-color;
      }
    }
  }

  .arrancar__ar {
    color: $lightmode-accent-color;
  }

  .search {
    position: relative;

    input[type="text"] {
      width: 500px;
      height: 50px;
      padding: 10px;
      border: none;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      &:focus {
        outline: none;
      }
    }

    button[type="submit"] {
      background-color: $darkmode-secondary-color;
      height: 50px;
      border: none;
      color: #fff;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: absolute;
      right: 0;
      transition: .25s ease-in-out;

      &:hover {
        transform: scale(1.2);
        color: rgb(255, 255, 255);
        background-color: $darkmode-primary-color;
      }
    }
  }
}
@media (max-width: 769px) {
  
  nav .navbar__buttons button, nav img {
     display: none;
  }
  nav .search input[type=text] {
    width: 460px;
    height: 40px;
    border: 1px solid black;
    
 }
 nav .search button[type=submit] {
  height: 40px;
  font-size: 12px;
 }
}
@media (max-width: 480px) {
  nav .search input[type=text] {
    width: 300px;
    height: 38px;

    
 }
 nav .search button[type=submit] {
  height: 38px;
  font-size: 11px;
 }

}