span{
  // color: $lightmode-background-color;
  color: #080808b5;
  margin: 11px -2px;
}


  .container__header{
    align-items: center;
    background-color: #C94C36;
    display: flex;
    height: 93px;
    justify-content: space-between;
    padding: 11px;
    position: sticky;
    top: 0;
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.168627451);
  
  }

  .container__navegacion{
  
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  a {
    align-items: flex-start;
    color: $darkmode-text-color;
    display: flex;
    font-size: $font-size-4;
    text-decoration: none;
  }

  img {
    padding-right: 10px;
    width: 70px;
  }

  .navbar__buttons {
    display: flex;
    height: 100%;
    align-items: center;

    button {
      transition: background-color 100ms ease-in-out;
      background-color: rgb(32 37 36 / 57%);
      margin: 0 10px;
      padding: 0 10px;
      border: none;
      color: $darkmode-text-color;
      cursor: pointer;
      height: 42px;
      border-radius: 21px;
      width: 110px;

      &:hover {
        background-color: $darkmode-secondary-color;
        color: $darkmode-text-color;
      }
    }
  }


