/*    -    COLOR    -    */
$lighter-background-color: #161616;
$lightblue: lightblue;
$background-dark: #0C0C0C;
$primary-color: #9B3922;
$secondary-color: #481E14;
$accent-color: #F2613F;
$font-color: white;

/*   -   FONTS & SIZES   -  */
$font-family-1: "IBM Plex Sans", sans-serif;
$font-family-2: "IBM Plex Mono", monospace;
$font-family-3: "IBM Plex Mono", medium;
$font-size-0: 14px;
$font-size-1: 15px;
$font-size-2: 16px;
$font-size-3: 19px;
$font-size-4: 24px;
$font-size-5: 26px;
$font-size-6: 28px;
$font-size-7: 36px;