/*    -    COLOR    -    */
/*    -    LIGHTMODE    -    */
$lightmode-background-color: #fcf8f8;
$lightmode-background-grey: #646464;
$lightmode-background-header: #dddada;
$lightmode-background-color-darker: #dddada;
$lightmode-text-color: #120908;
$lightmode-primary-color: #c94c36;
$lightmode-secondary-color: #ea9586;
$lightmode-accent-color: #ed705a;

/*    -    DARKMODE    -    */
$darkmode-background-color: #141414;
$darkmode-background-color-lighter: #252525;
$darkmode-text-color: #ffd9d9;
$darkmode-primary-color: #ae445a;
$darkmode-secondary-color: #662549;
$darkmode-accent-color: #f39f5a;


/*   -   FONTS & SIZES   -  */
$font-family: "Montserrat", sans-serif;
$font-size-0: 14px;
$font-size-1: 15px;
$font-size-2: 16px;
$font-size-3: 19px;
$font-size-4: 24px;
$font-size-5: 26px;
$font-size-6: 28px;
$font-size-7: 36px;