.administracion__container {
    .title__admin {
        width: fit-content;
        margin: 0 auto;
    }

    button {
        font-size: 16px;
        background-color: $darkmode-primary-color;
        padding: 10px 20px;
        margin-top: 10px;
        border: none;
        border-radius: 15px;
        margin: 15px;
        cursor: pointer;
        transition: background-color 100ms ease-in-out;

        &:hover {
            background-color: $darkmode-accent-color;
        }
    }

    .administracion__funciones {
        margin: auto auto;
        display: flex;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .botones {
            display: flex;

        }

        .administracion__error {
            color: red;
            padding: 5px;
            margin: 10px;
            background-color: rgb(54, 54, 54);
        }

        .administracion__form__agregar__veh {
            background-color: $darkmode-background-color-lighter;
            padding: 15px;
            border-radius: 15px;
            display: flex;
            flex-direction: column;

            input {
                font-size: 16px;
                padding: 5px;
                margin: 10px;
                border: none;
                border-radius: 5px;
                background-color: $darkmode-background-color-lighter;
                color: $darkmode-text-color;
            }
        }

    }

    .phone__error {
        display: none;
        margin: 50px auto;
        padding: 0 50px;
        width: fit-content;
        color: red;
        background-color: rgb(54, 54, 54);

        * {
            padding: 10px 0px;
        }
    }

    @media (max-width: 768px) {
        .administracion__funciones {
            display: none;
        }

        .phone__error {
            display: block;
        }
    }
}