.administracion__container {
    height: 65vh;

    .administracion__botones {
        margin: 10px auto;
        display: flex;
        height: 300px;
         flex-direction: row;
        justify-content: center;
        align-items: center;
 
        


        .administracion__error {
            color: red;
            background-color: rgb(54, 54, 54);
        }

        button {
            font-size: 16px;
            background-color: $darkmode-primary-color;
            padding: 10px 20px;
            margin-top: 10px;
            border: none;
            border-radius: 15px;
            margin: 15px;
            cursor: pointer;
            transition: background-color 100ms ease-in-out;

            &:hover {
                background-color: $darkmode-accent-color;
            }
        }
    }

    .phone__error {
        display: none;
        margin: 50px auto;
        padding: 0 50px;
        width: fit-content;
        color: red;
        background-color: rgb(54, 54, 54);

        * {
            padding: 10px 0px;
        }
    }

    @media (max-width: 768px){
        // hide everything, show error
        .administracion__botones {
            display: none;
        }

        .phone__error {
            display: block;
        }
    }
}