.detail__container {
    /* control the size */
    --s: 400px;

    --c1: #1d1d1d;
    --c2: #3d3e3f;
    --c3: #302f2f;

    background: repeating-conic-gradient(from 30deg,
            #0000 0 120deg,
            var(--c3) 0 180deg) calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
        repeating-conic-gradient(from 30deg,
            var(--c1) 0 60deg,
            var(--c2) 0 120deg,
            var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s) * 0.577);


    .selected__car__detail__container {
        display: flex;

        .imagen__y__detalles__container {
            margin: 0 20px;
            display: flex;
            flex-direction: column;
            // align-items: center;
            text-align: left;
            justify-content: center;
        }

        padding: 30px;

        img {
            // margin: 0 5px 0 0;
            border-radius: 20px;
            height: 30vw;
            max-width: 2000px;
            width: 50vw;
            object-fit: cover;
        }

        @media (max-width: 400px) {
            .imagen__y__detalles__container {
                flex-direction: column;

                img {
                    margin: 0 0 20px 0;
                    width: 80vw;
                    height: 40vh;
                }
            }
        }
    }
}