.image__library__container {
    padding: 30px;
    display: flex;
    flex-wrap: wrap;

    img {
        width: 80vw;
        max-width: 600px;
        height: 350px;
        object-fit: cover;

    }
}