.lista__vehiculos__container {
  display: flex;
  flex-direction: column;

  .title__admin {
    width: fit-content;
    margin: 0 auto;
  }

  .titulos__categorias {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 10px;

    * {
      width: calc(100%/6);
      text-align: center;
    }
  }

  .lista__vehiculos__container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: $darkmode-background-color-lighter;
    border-radius: 5px;
    overflow: hidden;

    img {
      border-radius: 5px;
      height: calc(1vw*5);
      object-fit: cover;
    }

    * {
      width: calc(100%/6);
      text-align: center;
    }

    .container__buttons {
      display: flex;
      justify-content: space-evenly;

      button {
        background: $darkmode-secondary-color;
        border: none;
        border-radius: 5px;
        width: 50px;
        height: 50px;
        cursor: pointer;

        img {
          height: 40%;
          width: 40%;
        }
      }
    }
  }

  .phone__error {
    display: none;
    margin: 50px auto;
    padding: 0 50px;
    width: fit-content;
    color: red;
    background-color: rgb(54, 54, 54);

    * {
      padding: 10px 0px;
    }
  }

  @media (max-width: 768px) {
    .lista__vehiculos__container {
      display: none;
    }

    .phone__error {
      display: block;
    }
  }
}