footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

footer .footer-logo-div {
    display: flex;
    flex-direction: column;
}

footer .footer-logo-div :nth-child(1) {
    display: flex;
    align-items: center;
}

footer .footer-logo-div img {
    width: 75px;
}

footer p {
    padding-right: 12px;
    margin: 0;
    font-size: 14px;
}

footer div {
    /* padding: 10px; */
    display: flex;
}

footer .footer-socials {
    display: flex;
}

footer .footer-socials a {
    padding: 0 10px;
}