nav {
    background-color: var(--lighter-background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* make narbar stick to the top */
    position: sticky;
    top: 0;
    width: auto;
    height: 60px;
    padding: 0 20px;
}

nav a {
    font-size: 1.5rem;
    color: var(--font-color);
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav img {
    padding-right: 10px;
    width: 50px;
}

nav .navbar-buttons {
    height: 100%;
    display: flex;
}

nav .navbar-buttons * {
    padding: 0 10px;
}

nav .navbar-buttons button {
    color: var(--font-color);
    cursor: pointer;
    height: 100%;
    width: 6vw;
    min-width: 100px;
    border: none;
    width: fit-content + 500px;
    transition: background-color 100ms ease-in-out;
    background-color: var(--lighter-background-color);

}

nav .navbar-buttons button:hover {
    background-color: var(--secondary-color);
    color: var(--font-color);
}