@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
}

.block {
      width: 100vw;
      height: 100vh;
      display: relative;
      background-color: #141414;
}

.img-vel {
      width: 100px;
      height: 100px;
      background-size: 100%;
      background-position: center;
      background-image: url("../img/arrancar-velocimetro.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% );
}

.img-agu {
      width: 100px;
      height: 100px;
      background-size: 100%;
      background-position: center;
      background-image: url("../img/arrancar-aguja.png");
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate( -50%, -50% ) rotate(-180deg);
      animation-name: needle-movement;
      animation-duration: 3s;
      animation-iteration-count: infinite;
}

.block-fantasy {
      width: 100vw;
      height: 100vh;
      position: absolute;
      top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.img-fantasy {
      width: 100px;
      height: 100px;
}
.mensaje {
      color: white;
}

@keyframes needle-movement {
      0% {transform: translate( -50%, -50% ) rotate(-180deg)}
      92% {transform: translate( -50%, -50% ) rotate(50deg)}
      100% {transform: translate( -50%, -50% ) rotate(-180deg)}
}
