/* create variables */
:root {
  --background-color: #0C0C0C;
  --lighter-background-color: #161616;
  --primary-color: #9B3922;
  --secondary-color: #481E14;
  --accent-color: #F2613F;
  --font-color: white;
}

html {
  font-family: monospace;
  background-color: var(--background-color);
  color: white;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: var(--accent-color);
}